.employee-card {
  margin: 0.5rem 0;
  border: none;
  border-radius: 1.5rem;
  box-shadow: rgba(27, 16, 23, 0.09) 5.25px 3.25px 12.6px;
}

.employee-card img {
  border-radius: 1.5rem;
}

.employee-card a {
  text-decoration: none;
  color: rgb(143, 68, 7);
  transition: 0.3s ease-in-out;
}

.employee-card a:hover,
.employee-card a:focus,
.employee-card a:active {
  color: rgb(211, 102, 13);
}

@media screen and (min-width: 768px) {
  .employee-card {
    margin: 0.5rem;
  }

  .employee-card h1 {
    font-size: 1.5em;
  }

  .employee-card h2 {
    font-size: 1em;
  }
}

@media screen and (min-width: 990px) {
  .employee-card {
    width: 100%;
    margin: 0.5 0 !important;
  }

  .employee-card p {
    font-size: 0.9em;
  }
}
